
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483584425367'); /* IE9*/
  src: url('iconfont.eot?t=1483584425367#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483584425367') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483584425367') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483584425367#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_equalizer_px:before { content: "\e9e7"; }

.icon-ic_pause_px:before { content: "\e9f0"; }

.icon-ic_play_arrow_px:before { content: "\e9f2"; }

.icon-ic_playlist_add_px:before { content: "\e9f5"; }

.icon-ic_skip_next_px:before { content: "\e9fa"; }

.icon-ic_skip_previous_px:before { content: "\e9fb"; }

