#content{
	position: relative;
	width: 350px;
	height: 180px;  
	background: linear-gradient(#7F7F7F,#848486,#828282,#7E7C81,#5D5C5C,#444343);
	border: 0;
}

.login{
	position: absolute;
	right: 5px;
	top: 5px;
	color: #ffffff;
	font-size: 13px;
}

.phonograph{
	position: absolute;
	width: 130px;
	height: 130px; 
	top: 25px; 
	left: 5px;
}

.base{
	position: relative;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #2A2A2A;
	/*background: #B50B0B;网易红*/
	transform-origin: 50% 50%;
	transform: rotate(0deg); 
}

.record img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #B50B0B;
	transform-origin: 50% 50%; 
	animation: spinning 50s linear infinite;
}

.p-hand{
	position: absolute; 
	left: 10px;
	top: 5px;   
	transform: rotate(-80deg); 
	transform-origin: 5px 0;
	animation:pause 1s ease-out forwards;
}

.p-arm{ 
	width: 6px;
	height: 80px;
	background: #E8E8EA;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px #585858 inset;
}

.p-head{
	width: 6px;
	height: 15px;
	background: #E8E8EA;
	transform: rotate(20deg);
	margin-top: -8px;
	margin-left: -1px;
	border-radius: 5px 5px 3px 3px;
	box-shadow: 1px 0px 1px 0px #585858 inset;
}

.songName{
	margin-left: 10px; 
	margin-bottom: 10px;
	font-size: 15px;
	color: #ffffff;
}

.toolbar{ 
	float: right;
	margin-top: 60px;
	margin-right: 85px;
}

.toolbar i{
	font-size: 40px;
	color: #ffffff;
	font-weight: 1px;
	margin-left: 3px;
}

.pre,.playOrPause{
	float: left;
}

.playOrPause{
	width: 40px;
	height: 32px;
	position: relative;
}

.play,.pause{
	position: absolute;
}

.play{
	display: block;
}

.pause{
	display: none;
}

/*-----------------------------------------------------------------------*/

@keyframes spinning{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
};

@keyframes pause{
	from{
		transform: rotate(-80deg);
	}
	to{
		transform: rotate(-100deg);
	}
};

@keyframes play{
	from{
		transform: rotate(-100deg);
	}
	to{
		transform: rotate(-80deg);
	}
};

 
